<!-- Page will display default title -->

<!-- class "home" differentiates home page in custom.scss from the stylings of 
  other pages -->
<div class="home">

<!-- Game's javascript (place directly for now to reduce compiling time) -->
<!-- < %= javascript_pack_tag 'game' %> -->
<script>
  // Function that toggles the element visibility
  const toggle = (elem) => {
      elem.classList.toggle('hidden');
  }

  function gameStart() {
    // Change what element contains inside when user clicks 'play' button
    document.getElementById("demo").innerHTML = "Game start";

  // TODO: Create a canvas that covers whole page first, then place in button
  // game_can = document.createElement("canvas");
  // game_can.className = "game-can";

    // Test: create a nonempty paragraph element 'test', append string to it
    // Purpose: Will create the canvas when play button pressed, testing how making
    // HTML element using JavaScript works
    // var par = document.createElement("p");
    // par.className = "test";
    // par.innerHTML = "Salutations!";
    // document.getElementByClass("demo").appendChild(par);

    var canvas = document.getElementById("game-canvas");
    // Make canvas visible
    toggle(canvas);

    var ctx = canvas.getContext("2d");
    ctx.canvas.width  = window.innerWidth;
    ctx.canvas.height = window.innerHeight;
    ctx.fillStyle = "#a2a2d0";
    ctx.fillRect(0,0,150,75);
    ctx.fillStyle = "#3d6bf9";
    ctx.fillRect(300, 300, 50, 50);
  }

  // Resizes game's canvas to that of current view's size
  window.addEventListener("resize", function(event) {
    canvas = document.getElementById("game-canvas");
    if (canvas.width  < window.innerWidth) {
        canvas.width  = window.innerWidth;
    }

    if (canvas.height < window.innerHeight) {
        canvas.height = window.innerHeight;
    }
  });

  // node = window in this case
  window.addEventListener('keydown', function(event) {
    switch (event.key) {
      case "ArrowLeft":
        document.getElementById("demo").innerHTML = "Left";
      break;
      case "ArrowRight":
        document.getElementById("demo").innerHTML = "Right";
      break;
      case "ArrowUp":
        document.getElementById("demo").innerHTML = "Up";
      break;
      case "ArrowDown":
        document.getElementById("demo").innerHTML = "Down";
      break;
    }
  });
</script>
<noscript>Error: Please download JavaScript for your browser.</noscript>

<!-- Page body -->

<!-- Canvas CSS (keep here for now for ease of editing) -->
<style>
  /*Include to hide HTML element by default*/
  .hidden {
    display: none;
  }

  #play-button {
    /*Needs absolute positioning to work even inside the canvas*/
    position: absolute;
  }

  html, body {
    /*Give page dimensions so canvas can encompass entirety of page*/
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  #game-canvas {
    /*Temporary border*/
    border: 2px solid #38e3c4;
    position: absolute;
  }
</style>

<!-- Add game's canvas, initially hidden because it's only needed when user 
  decides to play the game and clicks play button -->
<canvas id="game-canvas" class="hidden"> 
Your browser does not support the HTML canvas tag.
</canvas>
<!-- Button click event: press to start the game script-->
<button id="play-button" type="button" onclick="gameStart()">Play</button>

<div class="hero-one">

    <img alt="sun" src="syte_sun.svg" class="sun"/>
    <!-- Text will change when user clicks play button -->
    <p id="demo"> JS Demonstration </p>
</div>

<div class="hero-two">
  <!-- Navigational links -->
  <ul class="links">
    <!-- _blank: link opens in a new tab -->
    <!-- Empty list elements at ends ensure navigation links fully centered -->
    <li></li>

    <li> 
      <!-- Navigation icon (clicking also takes you to path) -->
      <!-- <a href='/Documents/Resume.pdf'>
        <img class="icon" alt="resume icon" src="resume_icon.svg">
      </a> -->
      <%= link_to image_tag("resume_icon.svg", alt: "resume icon", class: "icon"), "/Documents/Resume.pdf"%>
      <!-- Link -->
      <%= link_to "Resume", '/Documents/Resume.pdf'%>
      <!-- Every navigation link has an animated bar under it -->
      <div class="bar1"></div> 
    </li>

    <li> 
      <%= link_to image_tag("blog_icon.svg", alt: "blog icon", class: "icon"), blog_path%>
      <%= link_to "Blog", blog_path %> 
      <div class="bar2"></div> 
    </li>

    <li> 
      <%= link_to image_tag("octocat_icon.svg", alt: "octocat icon", class: "icon"), 'http://github.com/ganglians'%>
      <%= link_to "Git",      'http://github.com/ganglians',   target: '_blank' %>
      <div class="bar3"></div> 
    </li>

    <li> 
      <%= link_to image_tag("linkedin_icon.svg", alt: "linkedin icon", class: "icon"), 'http://linkedin.com/in/jccjr/'%>
      <%= link_to "Linkedin", 'http://linkedin.com/in/jccjr/', target: '_blank' %> 
      <div class="bar4"></div> 
    </li>

    <li></li>
  </ul>
</div>

<div class="hero-three">
  <div class="horizontal-horizon"></div>
  <div class="plane">
    <!-- Grid layout (this class is mostly for clarity)-->
    <div class = "grid">
      <!-- Horizontal ('left and right') grid lines -->
      <div class="horizontal-gridlines">
        <!-- Accessed through parent with nth of type child accessor -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>      
      </div>

      <!-- Vertical ('up and down') grid lines -->
      <div class="vertical-gridlines">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
</div>