<!-- Layout file that serves as a template to DRY like-structured views -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Where the unique title of each view goes -->
    <title> <%= full_title(yield(:title)) %> </title>

    <!-- Cross-site scripting/forgery -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Where the unique contents of each view goes -->
    <%= yield %>
  </body>
</html>
